ingress:
      enabled: true
      ingressClassName: "traefik"  # Usar Traefik como controlador de Ingress
      annotations:
        kubernetes.io/ingress.class: "traefik"
      hosts:
        - host: minio.mabecenter.org  # El dominio donde se acceder치 a MinIO
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: tls-cert  # Certificado TLS para la conexi칩n segura
          hosts:
            - minio.mabecenter.org
            
operators:
  object-store:
    ingress:
      enabled: true
      ingressClassName: "traefik"  # Usar Traefik como controlador de Ingress
      annotations:
        kubernetes.io/ingress.class: "traefik"
      hosts:
        - host: minio.mabecenter.org  # El dominio donde se acceder치 a MinIO
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: tls-cert  # Certificado TLS para la conexi칩n segura
          hosts:
            - minio.mabecenter.org


  accessKey: "minio-access-key"
  secretKey: "minio-secret-key"